.vscode/*
.devcontainer/*
demo/.env
demo/test/.env
demo/id
dev_utils/

# ROS 2 build folders
build/
install/
log/
__pycache__/

# ROSbots submodules
ros_components_description/
rosbot_controllers/
husarion_gz_worlds
diff_drive_controller/
imu_sensor_broadcaster/

# pyspelling
*.dic
